h1 {
	color: #0000ff;/*blue;*/
	font-size: 12px:
	font-family: serif; /* Avenir Next*/
}

h2 {
	color: #000000;/*black;*/
	font-size: 10px:
	font-family: serif; /* Avenir Next*/
}

body {
  font-family: "Avenir Next";
}